.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-Links {
  font-size: medium;
  text-align: center;
  text-decoration: none;
  display:  flex;
  flex-direction: column;
  color: white;
}

.App-Links-home {
  font-size: medium;
  text-align: right;
  text-decoration: none;
  display:  flex;
  flex-direction: column;
  color: white;
}

.App-Links-contact {
  font-size: medium;
  text-align: center;
  text-decoration: none;
  display:  flex;
  flex-direction: column;
  color: white;
}

.App-Home {
  text-align: center;
  
}

.App-cell-rigth {
   text-align: end;
}

.App-div-contact {
  min-height: 70vh;
}

.App-cell-left {
  text-align: center;
}

.App-social-media-ws {
  text-align: center;
  color: white;
  font-size: 120%;
  padding-top: 8%;
  
}

.App-social-media-ig {
  text-align: center;
  color: white;
  font-size: 110%;
  padding-top: 8%;
  
}

.App-cell-icons {
  text-align: right;
  font-size: xx-large;
  padding-top: 3%;
}

.App-cell-icons2 {
  text-align: center;
  font-size: xx-large;
  padding-top: 3%;
}

.App-cell-icons3 {
  text-align: center;
  font-size: xx-large;
  padding-top: 3%; 
}

.App-header {
  background-color: #f006c9;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-dashboard {
  min-height: 74vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-contact {
  min-height: 114vh;
  margin-top: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  min-height: 4vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}